.navbar {
  display: flex;
  padding: 0.2rem;
  background: lightsalmon;
  justify-content: space-between;
  align-content: center;
}

.navbar h1 {
  margin-top: 25px;
}

ul {
  display: flex;
  align-items: center;
} 

ul li {
  list-style: none;
  text-decoration: none;
  padding: 0 0.5rem;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: white;
}